numpy
pandas
ydata-profiling
numba==0.58.1
polars-lts-cpu
scipy
statsmodels
matplotlib
japanize-matplotlib
seaborn
fastcluster
statannotations
requests
scikit-learn
openpyxl
xlrd
rdkit
biopython
anndata
scanpy
pyopenms
jupyterlab
ipywidgets
streamlit
pygwalker
